  <!-- validados.html -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PilaValidado</title>
    <!-- Vincule o arquivo CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Adicione os scripts do SockJS e do Stomp -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Adicione estas linhas -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>


    <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }

                    th, td {
                        border: 1px solid black;
                        padding: 8px;
                        text-align: left;
                    }
                </style>
  </head>
  <body>
  <!-- Barra de Navegação -->
  <div class="w3-sidebar w3-bar-block" style="width:25%" w3-green>
    <div class="w3-container ">
      <header class="w3-green">
        <h1 class="w3-wide w3-tag w3-jumbo w3-green ">Pilacoin</h1>
      </header>
    </div>
    <div class="w3-container">
      <a href="/" class="w3-bar-item w3-hover-green w3-hover-shadow">Home</a>
      <a href="/pilacoins" class="w3-bar-item w3-hover-green w3-hover-shadow">Pila$ minerados</a>
      <a href="/blocos" class="w3-bar-item w3-hover-green w3-hover-shadow">Bloco$ minerados</a>
      <a href="/validados" class="w3-bar-item w3-hover-green w3-hover-shadow">Pila$ validados</a>
      <a href="/blocosValidados" class="w3-bar-item w3-hover-green w3-hover-shadow">Bloco$ validados</a>
      <a href="#" class="w3-bar-item w3-hover-green">Pilas do servidor</a>
    </div>
    <div class="w3-container w3-pale-green w3-border-top w3-border-bottom w3-center">
      <!-- Adicione esses botões ao seu HTML -->
      <p></p>

      <p class="w3-left-align" >Controle :</p>
      <p></p>
      <button class="w3-button w3-block w3-border w3-hover-green w3-hover-shadow" onclick="startMining()">Parar Mineração</button>
      <p></p>
      <button class="w3-button w3-block w3-border w3-hover-green w3-hover-shadow" onclick="restartMining()">Reiniciar Mineração</button>
      <p></p>
    </div>
    <div>
        <span class="w3-tag w3-xlarge w3-padding w3-red w3-hover-shadow" style="transform:rotate(-20deg)">
            $ $ $
        </span>
    </div>
  </div>
  <div style="margin-left:25%">
  <h1>Pila$ validados</h1>
    <div class="w3-container">
      <div class="w3-panel w3-pale-green w3-border-top w3-border-bottom w3-hover-shadow">
        <!-- Div de Mensagem -->
        <div  id="cliente" class="w3-monospace">[cliente ]: Minerando $$$ </div>
        <div  id="servidor" class="w3-monospace">[servidor]: BemVindo ! </div>
      </div>
    </div>
  <table id="pilaValidadoTable"  class="w3-table-all w3-card-4 w3-hoverable">
    <thead>
    <tr class="w3-green">
      <th>Count</th>
      <!--<th>PilaValidado ID</th>
      <th>Nome Validador</th>
      <th>Chave Pública Validador</th>
      <th>Assinatura PilaCoin</th>
      <th>Nonce</th>-->
      <!--<th>PilaCoinJson ID</th>
      <th>Data Criação PilaCoinJson</th>
      <th>Chave Criador PilaCoinJson</th>-->
      <th>Nome Criador PilaCoinJson</th>
      <th>Nonce PilaCoinJson</th>
    </tr>
    </thead>
    <tbody>
    <!-- Os dados serão exibidos aqui -->
    </tbody>
  </table>
    <div class="w3-container w3-green">
      <h5>Colégio Politécnico - UFSM</h5>
      <p>Tópicos Avançados - Sistemas para Internet</p>
      <p>&copy; 2023 Pilacoin. Todos os direitos reservados.</p>
    </div>
  </div>
  <script>
    var socket = new SockJS('/ws');
    var stompClient = Stomp.over(socket);

    stompClient.connect({}, function(frame) {
        stompClient.subscribe('/topic/feedback', function(response) {
            try {
                var feedback = JSON.parse(response.body);

                if (feedback && feedback.msg) {
                    var mensagem = feedback.msg;
                    document.getElementById('servidor').innerHTML = "[servidor]: " + mensagem;
                } else {
                    document.getElementById('servidor').innerHTML = "[Erro ] : Propriedade 'mensagem' não encontrada no objeto recebido.";
                }
            } catch (error) {
                document.getElementById('servidor').innerHTML = "[Erro ] : ao processar a resposta: " + error.message;
            }
        });

        // Subscreve no novo tópico de feedback do cliente
        stompClient.subscribe('/topic/feedback-cliente', function(response) {
            try {
                var feedback = JSON.parse(response.body);

                if (feedback && feedback.msg) {
                    var mensagem = feedback.msg;
                    document.getElementById('cliente').innerHTML = "[cliente ]: " + mensagem;
                } else {
                    document.getElementById('cliente').innerHTML = "[Erro ] : Propriedade 'mensagem' não encontrada no objeto recebido.";
                }
            } catch (error) {
                document.getElementById('cliente').innerHTML = "[Erro ] : ao processar a resposta: " + error.message;
            }
        });
    });
</script>
  <script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/pilaValidado/getAllWithPilaCoinJson",
            success: function (data) {
                fillTable(data);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });

        function fillTable(data) {
            var tableBody = $("#pilaValidadoTable tbody");
            data.forEach(function (item, index) {
                var row = "<tr>" +
                    "<td>" + (index + 1) + "</td>" + // Adiciona uma coluna de contagem
                    //"<td>" + item[0].nomeValidador + "</td>" +
                    //"<td>" + item[0].chavePublicaValidador + "</td>" +
                    //"<td>" + item[0].assinaturaPilaCoin + "</td>" +
                    //"<td>" + item[0].nonce + "</td>" +
                    //"<td>" + item[1].id + "</td>" + // Remova esta linha para ocultar a ID
                    //"<td>" + item[1].dataCriacao + "</td>" +
                    //"<td>" + item[1].chaveCriador + "</td>" +
                    "<td>" + item[1].nomeCriador + "</td>" +
                    "<td>" + item[1].nonce + "</td>" +
                    "</tr>";
                tableBody.append(row);
            });
             // Inicializa o DataTable
            $("#pilaValidadoTable").DataTable({
                "paging": true, // Ativa a paginação
                "pageLength": 10, // Define o número de linhas por página
                "lengthChange": false, // Desativa a opção de alterar o número de linhas exibidas
                "searching": false, // Desativa a pesquisa
                "info": true, // Ativa a exibição de informações
                "autoWidth": false // Desativa a largura automática
            });
        }
    });
</script>

  </body>
  </html>
